<html>
<head>
   <!-- Bootstrap CSS -->
    <link rel = "stylesheet" href = "../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/mystyle.css">
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script type="text/javascript" src="../js/mijavascrip.js"></script>
    <title>Registro</title>
    
</head>

<body class="fondoprincipal" >
    <div class="container">
        <img class="d-block img-fluid" src="../static/IMAGENES/image4310.png" >
    </div>
    
    
    <!-- Inicio sesion -->
      <div class="container">
            <h1 class="text-center text-white bg-inverse mt-5 ">Inicio Sesion</h1>
      </div>
      <div class="container">
 
        <div class="row">
            <div class="col-6">
                <form action="">
                    <div class="form-group">
                        <label for="" class="text-white"><strong>Nombre de usuario:</strong></label>
                        <input type="text" placeholder="Escriba su Nombre de usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        
                        <label for="" class="text-white"><strong>Contraseña:</strong></label>
                        <input type="password" placeholder="Escriba su contraseña" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger">Iniciar Sesion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- Registro -->
    <div class="container">
        <h1 class="text-center text-white bg-inverse mt-5 ">Registro</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="">
                    <div class="form-group">
                        <label for="" class="text-white"><strong>Nombre de usuario:</strong></label>
                        <input type="text" placeholder="Escriba su Nombre de usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="text-white"><strong>E-mail:</strong></label>
                        <input type="email" placeholder="Escriba su e-mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="text-white"><strong>Contraseña:</strong></label>
                        <input type="password" placeholder="Escriba su contraseña" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- Java Script Bootsrap -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    
</body>
</html>