<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel = "stylesheet" href = "../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/mystyle.css">
    
    <!-- JQuery validation plugin -->
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.validate.js"></script>
    
    <title>Comedor</title>
    </head>
    
    <body class="fondoprincipal">
    <div class="container">
    <img class="d-block img-fluid" src="../static/IMAGENES/image4310.png" >
    </div>
    <div class="container">  
        <h1 class="bg-inverse text-white text-center  ">Comedor</h1>
    </div>  
    <div class="container">
        
       
            <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="paginaprincipal.html">inicio</a>
                </div>
            </nav>
      
    </div>
    <div class="container text-white  p-4">
         <div class="form-group">
            <label for="comment"><strong>Comentarios:</strong></label>
             
            
         </div>
    </div>
    <div class="container text-white p-4">
         <div class="form-group" id="">
             <form action="post.php" id="" method="" accept-charset="utf-8">
                <label for="comment">Comentar:</label>
                <textarea class="form-control" rows="5" name="" id="" placeholder="Escriba aqui su comentario"  style=";height:100px;" autocomplete="off"></textarea>
             </form>
         </div>
    <div class="container text-white p-4">
        <div class="form-group">
            <button type="button" class="btn btn-danger" onclick="">Enviar</button>
        </div>
    </div>
        
    </div>
    
    <!-- Java Script Bootsrap -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>